# Groom
NEXT_PUBLIC_GROOM_PHONE=010-1234-5678
NEXT_PUBLIC_GROOM_FATHER_PHONE=010-1234-5678
NEXT_PUBLIC_GROOM_MOTHER_PHONE=010-1234-5678
NEXT_PUBLIC_GROOM_BANK=카카오뱅크
NEXT_PUBLIC_GROOM_ACCOUNT=1234-56-789012
NEXT_PUBLIC_GROOM_FATHER_ACCOUNT=1234-56-789012
NEXT_PUBLIC_GROOM_FATHER_BANK=국민은행
NEXT_PUBLIC_GROOM_MOTHER_ACCOUNT=1234-56-789012
NEXT_PUBLIC_GROOM_MOTHER_BANK=신한은행

# Bride
NEXT_PUBLIC_BRIDE_PHONE=010-1234-5678
NEXT_PUBLIC_BRIDE_FATHER_PHONE=010-1234-5678
NEXT_PUBLIC_BRIDE_MOTHER_PHONE=010-1234-5678
NEXT_PUBLIC_BRIDE_BANK=신한은행
NEXT_PUBLIC_BRIDE_ACCOUNT=123-456-789012
NEXT_PUBLIC_BRIDE_FATHER_ACCOUNT=123-456-789012
NEXT_PUBLIC_BRIDE_FATHER_BANK=국민은행
NEXT_PUBLIC_BRIDE_MOTHER_ACCOUNT=123-456-789012
NEXT_PUBLIC_BRIDE_MOTHER_BANK=신한은행
